!!! 5

%html
    %head
        %title Not BBC
        %link{:rel => "stylesheet", :href => "styles.css"}
        %meta(name="viewport" content="width=device-width, initial-scale=1")
    %body
        %header
            %nav
                %ul
                    %li
                        %a
                            %img{src: "BBC-Logo-1.png", alt: "BBC Logo"}
                    %li
                        %a{href: "#"}
                            Sign in
                    %li
                        %a{href: "#"}
                            News
                    %li
                        %a{href: "#"}
                            Sport
                    %li
                        %a{href: "#"}
                            Reel
                    %li
                        %a{href: "#"}
                            Worklife
                    %li
                        %a{href: "#"}
                            Travel
                    %li
                        %a{href: "#"}
                            Future
                    %li
                        %a{href: "#"}
                            Culture
                    %li
                        %a{href: "#"}
                            More
                    %li
                        %form(method="get" action="search")
                            %input{:type => "text"}
            %nav
                %span MORE
                %ul
                    %li
                        %a(href="#") Music
                    %li
                        %a(href="#") TV
                    %li
                        %a(href="#") Weather
                    %li
                        %a(href="#") Sounds
        %main
            %section
                %h1 Welcome to BBC.com
                %time{datetime: "2021-08-13"} Thursday, 13 August
            %section
                %article
                %article
                %article
                %article
                %article
            %section
                %h2 News
                %div
                    %article
                    %article
                    %article

                        / oof