@font-face {
    font-family: Georgia;
    src: url("fonts/georgiai.ttf");
}

* {
    box-sizing: border-box;
}

body {
    color: white;
    background: #78cee9;
}

article {
    width: 100%;
    max-width: 800px;
    border: 5px solid #00cb4a;
    padding: 30px 51px 35px;
    margin: auto;
    margin-top: 30px;
}

h1 {
    font-family: "Georgia", serif;
    font-weight: 600;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.3px;
    font-stretch: condensed;
    font-size: 34px;
}

h2, a {
    font-family: "Roboto", sans-serif;
}
 h2 {
     font-size: 28px;
     margin-top: 30px;
     margin-bottom: 27px;
 }

a {
    color: #00cb4a;
}

img {
    float: right;
    width: 254px;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 40px;
}

p {
    font-size: 20px;
    line-height: 1.36;
}

nav {
    margin-top: 33px;
}

nav > ul {
    list-style: none;
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 0.8;
}

nav>ul>li {
    display: inline-block;
    padding: 0 7px 0 3px;
}

nav>ul>li:not(:last-of-type) {
    border-right: 2px solid #808080;
}

.active {
    color: white;
    text-decoration: none;
}

