* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    border: 2px solid black;
    clear: both;
}

section {
    width: 40%;
    height: 300px;
    border: 2px solid black;
    float: left;
}


section + section {
    width: 40%;
}

section + section + section {
    width: 20%;
}